@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Monoton');

:root {
  --maroon: #800000;
  --roboto: 'Roboto', 'cursive';

}

* {
  font-family: 'Poppins', sans-serif;
  margin: 5px;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: normal;
  text-transform: capitalize;

}

html {
  font-size: 75.5%;
}
main {
  background-image: url("img/bg1.jpg");
  background-size: cover;
}

.logo {
  margin-left: -78%;
  margin-top: -15%;
  justify-self: left;
  display: inline-block;
  height: 20vh;
  width: 35rem;
}

section {
  min-height: 100vh;
  padding: 0 9%;
  padding-top: 5rem;
  padding-bottom: 9rem;

}

.btn {
  display: inline-block;

  border-radius: 5rem;
  background: #444;
  color: #fff;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
  padding: .7rem 3rem;
  position: relative;
  z-index: 0;
  overflow: hidden;
  font-size: 1.7rem;
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  background-color: #030202;
  background-image: linear-gradient(326deg, #030202 0%, #91221e 74%);
}


#btn-2 {
  border-radius: 4rem;
  box-shadow: 0.4rem 0.3rem #444;
  padding: 1rem;
  border: 2px solid black;
  background-color: gainsboro;
  color: black;
  cursor: pointer;
}

#btn-2:hover {
  background-color: #030202;
  background-image: linear-gradient(326deg, #030202 0%, #91221e 74%);
  color: white;
}

#msg {
  margin-bottom: 4%;
}

#btn-3 {
  border: 2px solid black;
  border-radius: 5rem;
  padding: 1rem 1.5rem;
  margin: 3rem;
  color: black;
  font-size: 1.7rem;
  letter-spacing: 1.5px;

}

#btn-3 .iconify {
  margin: -1rem 2rem;
}

#btn-3:hover,
#btn-3:focus {
  box-shadow:
    inset -3.9em 0 0 0 black,
    inset 6.5em 0 0 0 black
}


header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  background: #fff;
  padding: 0rem 5%;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .navbar a {
  font-size: 1.7rem;
  margin-left: 2rem;
  color: #444;
}

header .navbar a:hover {
  color: var(--maroon);
  border: 2px solid black;
  border-radius: 5rem;
  padding: 1rem 3rem;
}

#menu {
  font-size: 3rem;
  color: #444;
  cursor: pointer;
  display: none;
  flex-direction: row;
}

header .scroll-bar {
  position: absolute;
  top: 100%;
  left: 0;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  height: .5rem;
  background: var(--maroon);
  width: 0;
}

.home {
  display: flex;
  align-items: center;
  background: url(../images/home-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;

}

.infocontainer {
  /* background-color: green; */

  display: flex;
  justify-content: space-around;
  min-height: 100vh;
  padding: 0 3%;
  padding-top: 7.5rem;
  padding-bottom: 3rem;

}

.info {
  padding-left: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.pic img {
  height: 80vh;
  min-width: 100%;
  mix-blend-mode: darken;
  border-radius: 25%;
}

.picme img {
  height: 82vh;
  width: 120%;
  mix-blend-mode: darken;
  border-radius: 27%;
  margin: -10% -8%;

}

.pic2 img {
  height: 99vh;
  min-width: min-content;
  border-radius: 25%;
  mix-blend-mode: multiply;


}

.hello {
  font-size: 2.5rem;
  color: #444;
}

.name {
  font-size: 5.5rem;
  color: #444;
  font-weight: bolder;
  text-transform: uppercase;

}

.name span {
  color: var(--maroon);
  font-weight: bolder;
  text-transform: uppercase;
}

.about {
  font-size: 2.5rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.about span {
  color: rgb(137, 132, 132);
  font-weight: bolder;
}

#about {
  width: 100%;
}

.about .row {
  display: flex;
  flex-wrap: nowrap;
  width: 130%;
  margin-left: -8rem;
}

.about .row .imgcontainer {
  min-height: 100vh;
  padding: 1rem;
  width: 35%;
  object-fit: fill;
}

.about .heading {
  font-size: 10rem;
  text-transform: uppercase;
  text-align: center;
  width: 100%;

}

@supports (-webkit-background-clip: text) {
  .about .heading {
    color: transparent;
    background: linear-gradient(7deg, #7c7b7b 50%, #652304 0);
    -webkit-background-clip: text;
  }
}
.about .row .title {
  font-size: 4rem;
  color: var(--maroon);
  padding: 0.5rem 3rem;
}

.about .row .presonal-info .box-container {
  display: flex;
  flex-wrap: wrap;

}



.about .row .presonal-info .box-container .box h3 {
  font-size: 2rem;
  color: #333;
  padding: 1.2rem 0;
}

.about .row .presonal-info .box-container .box h3 span {
  color: #999;
  font-size: 1.rem;
}

.contact {
  margin-top: 20rem;

}

.contact .iconify {
  margin: -9px 6px;
}

#contact .form {
  display: flex;
  flex-wrap: nowrap;
  padding: 1rem;
}

.contactform {
  font-family: 'Courier New', Courier;
  display: flex;
  flex-direction: column;
  justify-content: left;

}

.contact h1 {
  margin-bottom: 1em;
  font: normal 700 30px/ 30px var(--roboto);
  color: rgb(135, 104, 44);
  text-transform: uppercase;
  text-align: center;
  font-size: 5rem;
}

.contactform form div {
  padding: 5px;
  display: flex;
  flex-direction: column;
  font-size: large;
}

#form-check {
  flex-direction: row;
}

#form-check-input {
  width: 30px;
}

.form-control {
  width: 30vw;
  margin: 3px;
  border: 3px solid black;
  border-radius: 7px;
  padding: 1em;
}

#services {
  background-image: radial-gradient(circle at 49% 34%, rgba(217, 248, 247, 0.22) 0%, rgba(217, 248, 247, 0.22) 3%, transparent 3%, transparent 100%), radial-gradient(circle at 89% 42%, rgba(217, 248, 247, 0.22) 0%, rgba(217, 248, 247, 0.22) 3%, transparent 3%, transparent 100%), radial-gradient(circle at 13% 99%, rgba(241, 201, 244, 0.31) 0%, rgba(241, 201, 244, 0.31) 3%, transparent 3%, transparent 100%), radial-gradient(circle at 99% 72%, rgba(241, 201, 244, 0.31) 0%, rgba(241, 201, 244, 0.31) 3%, transparent 3%, transparent 100%), radial-gradient(circle at 28% 97%, rgba(241, 201, 244, 0.31) 0%, rgba(241, 201, 244, 0.31) 3%, transparent 3%, transparent 100%), radial-gradient(circle at 71% 35%, rgba(214, 246, 222, 0.23) 0%, rgba(214, 246, 222, 0.23) 7%, transparent 7%, transparent 100%), radial-gradient(circle at 54% 20%, rgba(217, 248, 247, 0.22) 0%, rgba(217, 248, 247, 0.22) 7%, transparent 7%, transparent 100%), radial-gradient(circle at 74% 26%, rgba(217, 248, 247, 0.22) 0%, rgba(217, 248, 247, 0.22) 7%, transparent 7%, transparent 100%), radial-gradient(circle at 61% 72%, rgba(241, 201, 244, 0.31) 0%, rgba(241, 201, 244, 0.31) 7%, transparent 7%, transparent 100%), radial-gradient(circle at 74% 73%, rgba(214, 246, 222, 0.23) 0%, rgba(214, 246, 222, 0.23) 7%, transparent 7%, transparent 100%), radial-gradient(circle at 49% 91%, rgba(217, 248, 247, 0.22) 0%, rgba(217, 248, 247, 0.22) 7%, transparent 7%, transparent 100%), radial-gradient(circle at 17% 44%, rgba(214, 246, 222, 0.23) 0%, rgba(214, 246, 222, 0.23) 7%, transparent 7%, transparent 100%), radial-gradient(circle at 21% 42%, rgba(217, 248, 247, 0.22) 0%, rgba(217, 248, 247, 0.22) 7%, transparent 7%, transparent 100%), radial-gradient(circle at 52% 76%, rgba(241, 201, 244, 0.31) 0%, rgba(241, 201, 244, 0.31) 7%, transparent 7%, transparent 100%), radial-gradient(circle at 64% 77%, rgba(214, 246, 222, 0.23) 0%, rgba(214, 246, 222, 0.23) 5%, transparent 5%, transparent 100%), radial-gradient(circle at 79% 83%, rgba(241, 201, 244, 0.31) 0%, rgba(241, 201, 244, 0.31) 5%, transparent 5%, transparent 100%), radial-gradient(circle at 24% 65%, rgba(217, 248, 247, 0.22) 0%, rgba(217, 248, 247, 0.22) 5%, transparent 5%, transparent 100%), radial-gradient(circle at 40% 22%, rgba(241, 201, 244, 0.31) 0%, rgba(241, 201, 244, 0.31) 5%, transparent 5%, transparent 100%), linear-gradient(45deg, hsla(29, 0%, 100%, 1), hsla(44, 0%, 100%, 1));
  mix-blend-mode: multiply;
}

.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 5rem;
  align-items: flex-start;
}
.services .box-container .box {
  padding: 1rem 4rem;
  border: 3px solid black;

}
.services .box-container .box i {
  font-size: 5rem;
  margin-bottom: 1.5rem;
  margin-left: 12rem;
}
.services .box-container .box h3 {
  margin: 1rem 0;
  font-size: 2rem;
  padding: 1rem;
  background-color: black;
  font-weight: normal;
  color: white;
}

.services .h1 {
  font-family: cursive;
  font-size: 8rem;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1.5rem;
  text-shadow: -5px -5px 4px grey;
}

.services .box-container .box p {
  line-height: 2;
  font-size: 1.5rem;
}

.services .box-container .box:hover {
  top: 0;
  transform: scale(1.1);

}

.services .box-container .box:hover {
  background-color: rgb(218, 192, 245);
}

.services .box-container .box:hover i {
  color: black;
}

.services .box-container .box:hover p {
  color: black;
}

#portfolio {
  background-image: radial-gradient(circle at 49% 34%, rgba(217, 248, 247, 0.22) 0%, rgba(217, 248, 247, 0.22) 3%, transparent 3%, transparent 100%), radial-gradient(circle at 89% 42%, rgba(217, 248, 247, 0.22) 0%, rgba(217, 248, 247, 0.22) 3%, transparent 3%, transparent 100%), radial-gradient(circle at 13% 99%, rgba(241, 201, 244, 0.31) 0%, rgba(241, 201, 244, 0.31) 3%, transparent 3%, transparent 100%), radial-gradient(circle at 99% 72%, rgba(241, 201, 244, 0.31) 0%, rgba(241, 201, 244, 0.31) 3%, transparent 3%, transparent 100%), radial-gradient(circle at 28% 97%, rgba(241, 201, 244, 0.31) 0%, rgba(241, 201, 244, 0.31) 3%, transparent 3%, transparent 100%), radial-gradient(circle at 71% 35%, rgba(214, 246, 222, 0.23) 0%, rgba(214, 246, 222, 0.23) 7%, transparent 7%, transparent 100%), radial-gradient(circle at 54% 20%, rgba(217, 248, 247, 0.22) 0%, rgba(217, 248, 247, 0.22) 7%, transparent 7%, transparent 100%), radial-gradient(circle at 74% 26%, rgba(217, 248, 247, 0.22) 0%, rgba(217, 248, 247, 0.22) 7%, transparent 7%, transparent 100%), radial-gradient(circle at 61% 72%, rgba(241, 201, 244, 0.31) 0%, rgba(241, 201, 244, 0.31) 7%, transparent 7%, transparent 100%), radial-gradient(circle at 74% 73%, rgba(214, 246, 222, 0.23) 0%, rgba(214, 246, 222, 0.23) 7%, transparent 7%, transparent 100%), radial-gradient(circle at 49% 91%, rgba(217, 248, 247, 0.22) 0%, rgba(217, 248, 247, 0.22) 7%, transparent 7%, transparent 100%), radial-gradient(circle at 17% 44%, rgba(214, 246, 222, 0.23) 0%, rgba(214, 246, 222, 0.23) 7%, transparent 7%, transparent 100%), radial-gradient(circle at 21% 42%, rgba(217, 248, 247, 0.22) 0%, rgba(217, 248, 247, 0.22) 7%, transparent 7%, transparent 100%), radial-gradient(circle at 52% 76%, rgba(241, 201, 244, 0.31) 0%, rgba(241, 201, 244, 0.31) 7%, transparent 7%, transparent 100%), radial-gradient(circle at 64% 77%, rgba(214, 246, 222, 0.23) 0%, rgba(214, 246, 222, 0.23) 5%, transparent 5%, transparent 100%), radial-gradient(circle at 79% 83%, rgba(241, 201, 244, 0.31) 0%, rgba(241, 201, 244, 0.31) 5%, transparent 5%, transparent 100%), radial-gradient(circle at 24% 65%, rgba(217, 248, 247, 0.22) 0%, rgba(217, 248, 247, 0.22) 5%, transparent 5%, transparent 100%), radial-gradient(circle at 40% 22%, rgba(241, 201, 244, 0.31) 0%, rgba(241, 201, 244, 0.31) 5%, transparent 5%, transparent 100%), linear-gradient(45deg, hsla(29, 0%, 100%, 1), hsla(44, 0%, 100%, 1));
  mix-blend-mode: multiply;
  background-size: 126% 230%;
  background-repeat: no-repeat;
  background-position: center;
  height: 130vh;
}

.portfolio .h1 {
  font-family: cursive;
  font-size: 8rem;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1.5rem;
  text-shadow: -5px -5px 4px grey;
}

.slidershow {
  width: 900px;
  height: 550px;
  overflow: hidden;
}

.middle {
  position: absolute;
  top: 515%;
  left: 60%;
  transform: translate(-50%, -50%);
}

.navigation {
  position: absolute;
  margin: -21px 569px;
  transform: translateX(-50%);
  display: flex;
}

.bar {
  width: 30px;
  height: 30px;
  border-radius: 45%;
  border: 3px solid black;
  margin: 6px;
  cursor: pointer;
  transition: 0.4s;
  margin: 0.2rem 2rem;
}

.bar:hover {
  background: black;
}
input[name="r"] {
  position: absolute;
  visibility: hidden;
}

.slides {
  width: 500%;
  height: 92%;
  display: flex;
}

.slide {
  width: 20%;
  transition: 0.6s;
  margin-bottom: 50px;
}

.slide img {
  width: 70%;
  height: 110%;
  border: 3px groove #030202;
  mix-blend-mode: difference;
}

.button button {
  float: bottom;
}

#r1:checked~.s1 {
  margin-left: 0;
  width: 27%;
}

#r2:checked~.s1 {
  margin-left: -20.5%;
  width: 20%;
}

#r3:checked~.s1 {
  margin-left: -40.5%;
}

#r4:checked~.s1 {
  margin-left: -60.9%;
}

#r5:checked~.s1 {
  margin-left: -81%;
}
.footer-dark {
  padding: 20px 0;
  color: #f0f9ff;
  background-color: #282d32;
}

.footer-dark .bar {
  padding: 1.7rem;
  border-radius: 10%;
  margin: 0 1rem;
  background-color: rgb(249, 220, 54);
  width: 99%;
}

.footer-dark .title {
  font-size: 3rem;
  font-family: Monoton;
  letter-spacing: 1.7rem;
  color: darkgray;
  text-align: center;
}

.footer-dark .item.social {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 10px;
}

.footer-dark .item.social .iconify:hover {
  border-radius: 45px;
  padding: 1rem;
  cursor: pointer;
  border: 3px groove white;

}

.footer-dark .item.social .bar2 {
  width: 41rem;
  padding: 3px;
  background-color: gray;
  opacity: 0.9;
  margin-top: 17px;
  margin-bottom: -2rem;

}
#bar2 {
  float: right;
}
.footer-dark .item.social>a:hover {
  opacity: 0.9;
}

.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 16px;
  margin-bottom: 0;
}