@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url(https://fonts.googleapis.com/css?family=Righteous);

* {
  margin: 2px;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: normal;
  color: #f0f9ff;
  text-transform: capitalize;
}

html {
  font-size: 75%;
}
header {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  background: rgb(3, 3, 3);
  padding: 0rem 5%;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-evenly;
}

header .navbar a {
  font-size: 1.7rem;
  padding-inline: 2rem;
  color: rgb(254, 186, 1);
}

header .navbar a:hover {
  color: white;
  border: 2px solid rgb(254, 186, 1);
  border-radius: 5rem;
  padding: 1rem 3rem;
}

p{ margin-top: 2rem;
  font-family: 'Kalam';
  font-size: 22px;
  margin-left: 5em;
}

h3{
  margin-top: 3.5em;
  margin-left: 5em;
  color: #ffffff; 
  font-family: 'Monoton ' ; 
  font-size:15px; 
  font-weight: bold;
  line-height: 1.3rem;
  letter-spacing: 2px;
  }

h1 {
  color: white;
  font-family: "Righteous", serif;
  font-size: 5rem;
  text-shadow: 0.03em 0.03em 0 hsl(11deg 92% 49%);
  animation: blur .75s ease-out infinite;  
}

h4{
  color: #f3e9cd; 
  font-family: 'Rouge Script', cursive; 
  font-size: 1rem; 
  font-weight: normal;
  margin-left: 9em;

}


main {
  background-image: url("img/bgf3.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-blend-mode: hard-light;
  background-color: black;
}
.pic img {
 height: 70vh;
 margin-bottom: 0;
  mix-blend-mode: lighten;
  border-radius: 57%;
  opacity:0.9;
}
.infocontainer {
  display: flex;
  justify-content: space-around;
  min-height: 100vh;
}

.logo {
  margin-left: -14%;
  margin-top: 1%; 
  justify-self: left;
  display: inline-block;
  height: 20vh;
  width: 20rem;
  border-radius: 45%;
  border: 2px white;
}

.btn {
  display: inline-block;
  border-radius: 5rem;
  background: #444;
  color: #fff;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
  margin-top: 2rem;
  padding: .7rem 3rem;
  position: relative;
  z-index: 0;
  overflow: hidden;
  font-size: 1.7rem;
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  background-color: #030202;
  background-image: linear-gradient(326deg, #030202 0%, #91221e 74%);
}
